@charset "utf-8";
$color-000: #000;
$color-333: #333;
$color-666: #666;
$color-999: #999;
$color-white: #fff;
$color-red: #f23030;
$color-f1f3f8: #F1F3F8;
$color-dcdcdc: #dcdcdc;
$color-e9ecf2: #e9ecf2;
$color-728fb9: #728fb9;
$color-6091fa: #6091fa;
$color-86cf53: #86cf53;
$color-e0e0e0: #e0e0e0;
$color-green: #86cf5c;
$color-gray: #c8c8c8;
$color-blue: #7391b9;
$transparent: transparent;
$yahei: '\5FAE\8F6F\96C5\9ED1';
$arial: 'arial';